* {
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "Press Start 2P", cursive;
  background-color: #0066ff;
  margin: 0;
  overflow: hidden;
}

.game-container {
  height: 100vh;
  width: 300vw;
  display: flex;
  flex-direction: row;
  transition: 1s ease;
}

.game-container .start-game-menu {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.game-container .start-game-menu .play-game-btn {
  font-family: inherit;
  font-size: 1rem;
  border: none;
  height: 80px;
  width: 180px;
  color: white;
  background-color: #0066ff;
  border: 2px white solid;
  cursor: pointer;
  transition: 0.3s ease;
}

.game-container .start-game-menu .play-game-btn:hover {
  color: #0066ff;
  background-color: white;
}

.game-container .choose-bug {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.game-container .choose-bug .bug {
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px white solid;
  margin: 10px;
  transition: 0.3s ease;
}

.game-container .choose-bug .bug img {
  height: 100px;
  width: 100px;
}

.game-container .choose-bug .bug:hover {
  background-color: white;
}

.game-container .game-board {
  position: relative;
  height: 100vh;
  width: 100vw;
  color: white;
}

.game-container .game-board .time {
  position: absolute;
  top: 2vh;
  left: 2vw;
  transform: translateY(-50%);
}

.game-container .game-board .score {
  position: absolute;
  top: 2vh;
  right: 2vw;
  transform: translateY(-50%);
}

.game-container .game-board .bug-container {
  position: relative;
  top: 10vh;
  left: 5vw;
  height: 80vh;
  width: 90vw;
}

.game-container .game-board .bug-container .bug {
  position: absolute;
  top: 20px;
  height: 120px;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  z-index: 10;
}

.game-container .game-board .bug-container .bug.smashed {
  border-radius: 0;
  cursor: auto;
  animation: smash 15s;
  z-index: 1;
}

.game-container .game-board .bug-container .bug img {
  height: 100px;
  width: 100px;
}

@keyframes smash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
